{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding-top: 0; padding-bottom: 80px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Reset password</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Check your inbox</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
