.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.navbar {
    background-color: #ab7cef;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d1d1d1;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
}
