<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fas fa-book-open mr-2"></i> Tutorial Site
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "home_page" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "tutorial_view" %}">Tutorial</a>
                </li>
            </ul>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="darkModeSwitch">
                <label class="form-check-label text-white" for="darkModeSwitch">Dark Mode</label>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-md-1" style="padding-top: 50px;">
            <div class="row">
                <!-- Ide jönnek a kártyák -->
            </div>
        </div>
    </div>
</div>

<script>
    const darkModeSwitch = document.getElementById("darkModeSwitch");
    const body = document.body;
    const darkModeEnabled = localStorage.getItem("darkModeEnabled");

    if (darkModeEnabled === "true") {
        body.classList.add("dark-mode");
        darkModeSwitch.checked = true;
    }

    darkModeSwitch.addEventListener("change", () => {
        if (darkModeSwitch.checked) {
            body.classList.add("dark-mode");
            localStorage.setItem("darkModeEnabled", "true");
        } else {
            body.classList.remove("dark-mode");
            localStorage.setItem("darkModeEnabled", "false");
        }
    });
</script>

<style>
    .dark-mode {
        background-color: #1a1a1a;
        color: #ffffff;
    }

    .navbar {
        background-color: #6f42c1; /* lila szín */
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #d1d1d1; /* világos szürke szín */
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: #ffffff; /* aktív állapotban teljesen fehér */
    }
</style>
</body>

</html>
